VITE_SUPABASE_URL=https://suvktyqalcuevpxxavky.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1dmt0eXFhbGN1ZXZweHhhdmt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYwMjA1ODcsImV4cCI6MjAzMTU5NjU4N30.eb2UolQol0uQbcztzQ_req6Pq0UnM-Etth1PFoDOyTs